.home-page #heroTitle {
    position: absolute;
    right: 575px; 
    bottom: 300px; 
    
}
.button{
    position: absolute; 
    right: 725px; 
    bottom: 200px; 
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    padding: 20px; 
    border-radius: 15px; 
    background-color:@button-bg; 
    margin: 2px solid yellow; 
}
h2 {
    position: absolute; 
    right: 600px; 
    bottom: 100px; 
}

.article .missionStmt { 
    font-size: 4rem; 
    text-align: center;
     #mission {
        text-align: center; 
        font-size: 3rem; 
        font-family: "Roboto", sans-serif; 
    }
}